.main-container {
  background-color: #152850;
  height: 100vh;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: bold;
}
